body {
    background-color: #eee;
    background-attachment: fixed;
    background-image: url("./photos/mountain-surrounded-with-fog-1772973.jpg") !important;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.navbar {
    box-shadow: 0 5px 4px -6px #000;
}
.nav-link{
    color: white !important;
}

.material-icons.md-48 {
    font-size: 48px !important;
    height: 48px !important;
    width: 48px !important;
}

.material-icons.md-72 {
    font-size: 72px !important;
    height: 72px !important;
    width: 72px !important;
}

.navLogo{
    background-image: url("./photos/forumLogo.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    padding: 0 16px 0 0;
    width: 150px;
    margin-right: 12px;
}

#navbar li {
    font-weight: bold;
}

.navEmail {
    padding-top: 15px;
    padding-bottom: 15px;
    color: #159;
}

.sectionHeader{
    background-color: rgba(0,0,0,0.9);
    padding: 8px 0 24px 24px;
}

.postHeader {
    background-color: #212121;
    padding: 8px 0 24px 24px;
}

.sectionHeading{
    color: white;
    font-size: 1.3em;
    font-family: 'Roboto';
    padding: 16px 0 16px 0;
    border-bottom: 1px solid #335;
    margin-bottom: 12px;
    width: 100%;
}

.postHeading {
    color: white;
    font-size: 1.2em;
    font-family: 'Roboto';
    padding: 16px 0 16px 0;
}

.sectionInfo{
    height: 400px;
    background-color: white;
}

.frontPageSplash {
    background-image: url("./photos/forumLogo.png");
    background-repeat: no-repeat;
    background-position: right;
}

.frontPageLearn{
    font-family: 'Roboto';
    padding: 12px 0 0 32px;
    height: 360px;
}

.sectionDescription {
    color: #eee;
}

.frontPageHeading{
    font-size: 3.2em;
    margin: 16px 0;
}

.frontPageSubHeading{
    font-size: 2em;
}


.frontPageTopContainer {
    padding: 40px 80px 42px 40px;
    border: 1px solid #999;
    background-color: #2569d5;
    font-family: 'Roboto';
    background: rgb(29,144,209); /* Old browsers */
    background: -moz-linear-gradient(left, rgba(29,144,209,1) 0%, rgba(4,47,103,1) 100%);
    background: -webkit-linear-gradient(left, rgba(29,144,209,1) 0%,rgba(4,47,103,1) 100%);
    background: linear-gradient(to right, rgba(29,144,209,1) 0%,rgba(4,47,103,1) 100%);
}

.frontPageTopContainer > h1 {
    font-size: 1.8em;
    color: #fff;
    padding: 9px;
}

#welcomeMessage{
    color: white;
    font-size: 1.5em;
    font-family: 'Roboto';
}

#welcomeSub{
    color: white;
    font-size: 1.2em;
    font-family: 'Roboto';
}

.frontPageTopContainer > h2 {
    font-size: 1.4em;
    color: #fff;
}

.frontPageContent {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 16px;
}

#latestPosts{
    font-size: 1.2em;
    font-weight: bold;
    color: #333;
    margin: 4px 0 16px 0;
}

/* Front page */

.postTitle {
    font-family: 'Roboto';
    font-weight: bold;
}

.postSubTitle {
    color: #888;
    font-family: 'Roboto Mono';
    font-size: 0.8em;
}

.postData{
    display: inline-block;
}

.postDate{
    color: #888;
    font-family: 'Roboto Mono';
    font-size: 0.8em;
}

.postLogo {
    display: inline-block;
    border-radius: 3px;
    margin-right: 20px;
    height: 40px;
    width: 40px;
    background-color: #ddd;
}

/*Forum index*/

#forumIndexTable td {
    background-color: rgba(255, 255, 255, 0.9);
}

#forumIndexTable tr:hover {
    background-color: rgba(0, 116, 238, 1);
}

.forumData {
    display: inline-block;
}

.forumTitle {
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 1.1em;
}

.forumSubTitle {
    color: #888;
    font-family: 'Roboto Mono';
    font-size: 0.8em;
}

.forumDescription {
    color: #555;
    font-family: 'Roboto';
}

.forumLogo {
    border-radius: 3px;
    float:left;
    margin-right: 20px;
    height: 40px;
    width: 40px;
    background-color: #ddd;
    border: 1px solid #555;
}

.forumPostCount{
    color: #888;
    font-family: 'Roboto Mono';
    font-size: 0.9em;
}

.forumMemberCount{
    color: #888;
    font-family: 'Roboto Mono';
    font-size: 0.9em;
}

#forumIndexContent{
    padding-bottom: 60px;
    background-color: white;
    width: 100%;
}

.noPosts{
    text-align: center;
    padding-top: 30px;
    font-family: 'Roboto Mono'
}

/*Post*/
.createPostSection{
    background-color: #fff;
    padding: 24px;
    width: 100%;
}

/*Register*/
#registerContent, #signInContent{
    background-color: white;
    min-height: 600px;
    padding: 16px 0 24px 40px;
}

#signInFormWrapper{
    background-color: #fff;
    padding: 16px 0 24px 0;
    margin: auto;
    width: 30%;
}

#registerFormWrapper{
    background-color: #fff;
    padding: 16px 0 24px 0;
    margin: auto;
    width: 60%;
}

.register{
    padding: 48px 0 0 72px;
    font-size: 1.2em;
    font-family: 'Roboto'
}

#registerImage{
    height:500px;
    background-image: url("../images/theme/jump.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

#signInImage{
    height:500px;
    background-image: url("../images/theme/lookout.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

#registerBtn {
    margin-top: 12px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

#headingBtn{
    margin-right: 20px;
    float: right;
}

.btn-newPost {
    background-color: #c62828 !important;
    color: #fff !important;
    transition: ease-in 0.1s;
    border-radius: 0px !important;
}

.btn-newPost:hover {
    transition: ease-in 0.1s;
    background-color: #e53935 !important;
    color: #fff !important;
}

.btn-submitPost {
    background-color: #00695C !important;
    color: #fff !important;
    transition: ease-in 0.1s;
    border-radius: 0px !important;
}

.btn-submitPost:hover {
    transition: ease-in 0.1s;
    background-color: #00897B !important;
    color: #fff !important;
}

.authorBlock{
    padding: 18px;
    border: 1px dashed #00AFCF;
}

.authorBlockName{
    font-weight: bold;
}

.btn-back {
    background-color: #555;
    color: #fff !important;
    transition: ease-in 0.1s;
    border-radius: 0px !important;
}

.btn-back:hover {
    transition: ease-in 0.1s;
    background-color: #1E88E5 !important;
}

.hasRecentPost {
    color: white;
    background-color: #f44336;
    font-family: 'Roboto Mono';
    padding: 2px 5px 2px 5px;
    border-radius: 1px;
    text-align: center;
    width: 30px;
}

.btn-newReply {
    background-color: #5C6BC0! important;
    color: #fff !important;
    transition: ease-in 0.1s;
    border-radius: 0px !important;
}

.btn-newReply:hover {
    background-color: #9FA8DA !important;
    transition: ease-in 0.1s;
}
.row-extended{
    margin-top: 60px;
}
#replyRow {
    background-color: #3F51B5;
    padding: 8px;
}

.postAuthorContainer{
    padding: 12px;
    color: #444;
    font-family: 'Roboto';
    width: 190px;
}

.postIndexTitle{
    font-size: 1.4em;
}

#postIndexContent{
    background-color: white;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.postContentContainer{
    font-family: 'Roboto';
    color: #222;
    padding: 22px;
    border-left: 1px solid #ddd;
}

.postAuthorRating{
    font-size: 0.9em;
    color: #159;
    font-family: 'Roboto Mono';
}

.userProfile{
    padding: 32px 0 64px 24px;
    background-color: #fff;
}

#userProfileImage{
    display: inline-block;
    height: 200px;
    width: 200px;
    background-color: #ddd;
}

#userEmailLabel, #userBioLabel, #userCreatedLabel, #userRating, #userActiveLabel {
    display: block;
    color: #444;
    font-family: 'Roboto';
    padding-top: 3px;
}

#userName{
    display: block;
    color: #2569d5;
    font-family: 'Roboto';
    font-size: 1.7em;
}

.userBio{
    color: #555;
    font-family: 'Roboto';
    padding: 12px;
    margin-left: 10px;
}

.replyContent{
    display: table;
    background-color: white;
    border-bottom: 1px solid #aaa;
    width: inherit;
}

.replyAuthorContainer {
    display: table-cell;
    padding: 12px;
}

.replyContentContainer {
    padding: 12px;
    border-left: 1px solid #eee;
}

[class*="col-"] {
    float: none;
    display: table-cell;
    vertical-align: top;
}

.postAuthorImage{
    height: 80px;
    width: 80px;
}

.btn-file {
    color: white;
    width: 100%;
    background-color: #4FC3F7;
    transition: ease 0.3s;
}

.btn-file:hover {
    background-color: #039BE5;
    transition: ease 0.3s;
}

#btn-profile{
    margin-top: 10px;
}

.createForumSection {
    background-color: #fff;
    padding: 24px;
}

#createForumForm {
    width: 50%;
    margin: auto;
}

.noBorder {
    border: none;
}

.isAdmin {
    display: inline-block;
    padding: 3px;
    background-color: #FFEB3B;
    color: black;
    font-family: 'Roboto Mono';
}

.smaller {
    font-size: 0.8em;
}

.profileLabel {
    margin-top: 2px;
    display: inline-block;
}

.userProfilePic {
    height: 140px;
    width: 140px;
}

.inactiveUser {
    font-style: italic;
}

#replyDivider {
    height: 2px;
    margin-bottom: 12px;
}

.replyOriginalPost{
    margin-left: 15%;
}
.searchBar {
    padding: 3px 5px 2px 12px;
    margin: 8px;
    background-color: #333;
    width: 10%;
    transition: ease .3s;
    border: none;
}

.searchBar:focus {
    color: black;
    width: 60%;
    background-color: #fff;
}

.buttonSearch {
    background:none!important;
    border:none; 
    padding:0!important;
    font: inherit;
}

.homeSearch {
    width: 100%;
    margin-top: 8px;
    background: rgba(0, 0, 0, 0.4);
    padding: 8px;
    border: 0px;
    height: 2.3em;
    font-size: 2.1em;
    font-family: 'Roboto Mono';
    font-weight: bold;
    transition: ease-in 0.2s;
}

.homeSearch:focus {
    border: none !important;
    outline: none !important;
    transition: ease-in 0.2s;
    color: #03A9F4;
    background-color: rgba(0, 0, 0, 0.9);
    box-shadow: 0 5px 4px -6px #000;
}

/*spinner css*/
/* .loader {
    font-size: 10px;
    margin: 50px auto;
    text-indent: -9999em;
    width: 11em;
    height: 11em;
    border-radius: 50%;
    background: #211685;
    background: -moz-linear-gradient(left, #211685 10%, rgba(33,22,133, 0) 42%);
    background: -webkit-linear-gradient(left, #211685 10%, rgba(33,22,133, 0) 42%);
    background: -o-linear-gradient(left, #211685 10%, rgba(33,22,133, 0) 42%);
    background: -ms-linear-gradient(left, #211685 10%, rgba(33,22,133, 0) 42%);
    background: linear-gradient(to right, #211685 10%, rgba(33,22,133, 0) 42%);
    position: relative;
    -webkit-animation: load3 1.4s infinite linear;
    animation: load3 1.4s infinite linear;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
  }
  .loader:before {
    width: 50%;
    height: 50%;
    background: #211685;
    border-radius: 100% 0 0 0;
    position: absolute;
    top: 0;
    left: 0;
    content: '';
  }
  .loader:after {
    background: #ffffff;
    width: 75%;
    height: 75%;
    border-radius: 50%;
    content: '';
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  @-webkit-keyframes load3 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes load3 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
   */

   .loader,
.loader:before,
.loader:after {
  background: #211685;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
}
.loader {
  color: #211685;
  text-indent: -9999em;
  margin: 88px auto;
  position: relative;
  font-size: 11px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  position: absolute;
  top: 0;
  content: '';
}
.loader:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 1.5em;
}
@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}

.pagination-extended{
    position: relative;
    right: 1%;
    float: right;
    top: 5px;
}

.delete-reply{
    float: right;
}

.singleReplyContainer{
    height: 30%!important;
    width: 100% !important;
}

.replyActionButtons{
    position: absolute;
    right: 10px;
    bottom: 5px;
}