<template>
<div>
<Navigation/>
  <div class="container body-content">
    <div class="row sectionHeader">
        <div class="sectionHeading">
            Create New Forum
        </div>
    </div>
    <div class="row">
        <div class="createForumSection" style="width:100%">
            <form style="width:50%; margin-left:30%;">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label>Forum Title</label>
                    <input  class="form-control" v-model="newForum.title" placeholder="Choose a Forum Title"/>                
                    </div>
                <div class="form-group">
                    <label asp-for="Description"></label>
                    <input rows="1" v-model="newForum.description" class="form-control" placeholder="Write a brief description here.">
                </div>
                <div id="upload">
                    <label>Upload Forum Image</label>
                    <br/>
                    <label class="btn btn-default btn-file">
                        Browse <input type="file" @change="fileInputChange" style="display: none;">
                    </label>
                </div>
            <div class="alert alert-danger alert-dismissible fade show" role="alert" v-if="hasError">
                <strong>Error!</strong> {{errorMessage}}
            </div>
                <button @click="createNewForum($event)" type="submit" id="registerBtn" class="btn btn-submitPost">Create</button>
            </form>

        </div>
    </div>
</div>
</div>
</template>

<script>
import Navigation from "../Navigation";
import {reactive, ref} from '@vue/composition-api';
import {createForum} from '../../utils/webApi/forum';
import {uploadFile} from '../../utils/webApi/util';
export default {
components:{
    Navigation
},
setup(props,vm){
 let newForum = reactive({
    title:'',
    description:'',
    imageUrl:''
 });

 let files = ref();
 let hasError = ref(false);
 let errorMessage = ref('');

 const createNewForum = (e)=>{
     e.preventDefault();
     uploadFile(files.value).then(res =>{
         if(res.data)
            newForum.imageUrl = res.data;
        createForum(newForum).then(response =>{
        if(response.isSuccess == true){
            vm.root.$options.router.push("/");
            errorMessage.value = '';
            hasError.value=false;
        }else{
            hasError.value=true;
            errorMessage.value = response.message;
            setTimeout(()=>{
                errorMessage.value = '';
                hasError.value=false;
            },4000);
        }

       
     });
     });
  
 }

 const fileInputChange = (event)=>{
     files.value = event.target.files[0];
 }

 return{
     newForum,
     createNewForum,
     files,
     fileInputChange,
     hasError,
     errorMessage
 }
}
}
</script>

<style>

</style>