<template>
  <div>
    <Navigation />
    <div class="container body-content">
      <div class="row sectionHeader">
        <div class="sectionHeading noBorder">
          New Post | {{forum.title}}
          <div
            class="forumLogo"
            style="background-image: url(@Model.ForumImageUrl); background-size:100%"
          ></div>
          <span id="headingBtn">
            <router-link :to="`/forum/${forum.id}`" class="btn btn-back">Back to {{forum.title}}</router-link>
          </span>
        </div>
      </div>
      <div class="row">
        <div id="forumIndexContent" v-if="isUserLogged">
          <div class="register">
            You must be a
            <a href="/register">registered member</a> to create a new post.
          </div>
        </div>
      </div>
      <div class="row">
        <div class="createPostSection">
          <div class="authorBlock">
            You're submitting this post as
            <span class="authorBlockName">{{loggedUser.username}}</span>
          </div>
          <form id="addPostForm">
            <div class="text-danger"></div>
            <div class="form-group">
              <label>Title</label>
              <input v-model="post.title" class="form-control" />
            </div>
            <div class="form-group">
              <label>Post Content</label>
              <!-- <textarea
                v-model="post.content"
                placeholder="Write your post here."
                rows="10"
                class="form-control"
              ></textarea> -->
            <editor ref="toastEditor" :options="editorOptions" initialEditType="wysiwyg"   class="postContent" :initial-value="post.content" />

            </div>
                 <div class="alert alert-danger alert-dismissible fade show" role="alert" v-if="hasError">
                <strong>Error!</strong> {{errorMessage}}
            </div>
            <button type="button" id="registerBtn" @click="createPost()" class="btn btn-submitPost">Submit Post</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import {addPost} from '../../utils/webApi/post';
import {isAuthenticated,getCurrentUser} from '../../utils/webApi/auth';
import Navigation from "../Navigation";
import {fetchForum} from '../../utils/webApi/forum'
import { ref, reactive , onMounted} from '@vue/composition-api';
import { Editor,Viewer } from '@toast-ui/vue-editor';
export default {
  components: {
    Navigation,
    editor:Editor,
    viewer:Viewer
  },
  setup(props,vm){
    let forumId = vm.root.$route.params.forumId;
    let isUserLogged = isAuthenticated();
    let loggedUser = getCurrentUser();
    let editorOptions = reactive({
      hideModeSwitch: true,
    });
    let forum = ref({});
    let hasError = ref(false);
    let errorMessage = ref('');
    fetchForum(forumId).then(response =>{
     if(response.isSuccess = true){
        forum.value = response.data;
     }
    });
    let post = reactive({});
    
  const createPost = () =>{
      post.userId = loggedUser.id;
      post.forumId = forum.value.id;
      var html = vm.refs.toastEditor.invoke('getHtml');
      post.content = html;
      addPost(post).then(response =>{
        if(response.isSuccess == true){
             let newPost = response.data;
           let url =`/forum/${newPost.forumId}`;
         vm.root.$notificationHub.questionOpened(response.data.id);
          vm.root.$options.router.push(url);
      

        }else{
          hasError.value=true;
            errorMessage.value = response.message;
            setTimeout(()=>{
                errorMessage.value = '';
                hasError.value=false;
            },4000);
        }
      });
     
  }
    return{
      isUserLogged,
      loggedUser,
      forum,
      post,
      createPost,
      hasError,
      errorMessage,
      editorOptions
    }
  }

    
};
</script>

<style>
</style>