<template>
  <div>
    <Navigation />
    <div class="container body-content">
      <div class="row sectionHeader">
        <div class="sectionHeading">
          <span id="results">{{forum.title}} Forum</span>

          <span id="headingBtn" v-if="isUserLogged">
            <router-link class="btn btn-newPost" :to="`/new/post/${forum.id}`">Create Post</router-link>
          </span>
        </div>
        <div class="sectionDescription">
          <!-- <div class="forumLogo" style="background-image: url(@Model.Forum.ImageUrl); background-size:100%"></div> -->
          <p>
            Welcome to the
            <strong>{{forum.title}}</strong> forum. Please keep posts friendly and on-topic.
          </p>
          <p>
            Please read the Forum Guidelines before creating a new post.
            <span v-if="!isUserLogged">
              You must be a
              <a href="/register">registered member</a> to create a new post.
            </span>
          </p>
        </div>
      </div>
      <div class="row" id="forumIndexContent">
        <div class="loader" v-if="isLoading">Loading...</div>
        <table v-if="posts.length >0" class="table table-hover table-bordered" id="forumIndexTable">
          <tbody v-for="post in posts" v-bind:key=" post.id">
            <tr>
              <td>
                <div class="postData">
                  <div class="postTitle">
                    <router-link :to="`/post/${post.id}`">{{post.title}}</router-link>
                  </div>
                  <div class="forumSubTitle">
                    <div>
                      <span class="postAuthor">
                        <a>by {{post.user.username}} </a>
                      </span>
                      <span class="postDate">on {{post.createdAt|formatDate}}</span>
                    </div>
                  </div>
                </div>
              </td>
              <td>
                <div class="forumPostCount">Replies: {{post.repliesCount}}</div>
              </td>
              <td>
                <div class="postDate">{{post.createdAt |formatDate}}</div>
              </td>
              <td v-if="isUserAdmin || (currentUser != null && currentUser.id == post.user.id)"> 
              <button @click="deletePostAction" :name="post.id"  class="btn btn-danger fas fa-trash-alt" ></button>

              </td>
            </tr>
          </tbody>
        </table>

        <div class="noPosts" v-if="!isLoading && posts.length == 0">
          <i class="material-icons md-72">question_answer</i>
          <h3>
            It looks like there are no {{forum.title}} posts yet.
            <br />Why not
            <a>
              <span>Create One?</span>
            </a>
          </h3>
        </div>
      </div>
       <ul class="pagination pagination-extended">
        <li class="page-item"><a class="page-link" @click="onChangePage(currentPage-1)" href="#">Previous</a></li>
        <li v-for="(num,index) in Array(totalPageNumber)" v-bind:key="num" class="page-item" @click="onChangePage(index+1)" :class="currentPage == (index+1)?'active':''"><a class="page-link" href="#">{{index+1}}</a></li>
        <li class="page-item"><a class="page-link" @click="onChangePage(currentPage+1)" href="#">Next</a></li>
    </ul>
    </div>
  </div>
</template>

<script>
import {fetchForum} from '../utils/webApi/forum';
import {getPostByForum,deletePost} from '../utils/webApi/post';
import Navigation from '../components/Navigation';
import { ref, reactive } from '@vue/composition-api';
import {EndPoints} from '../utils/webApi/EndPoints';
import usePagination from "../hooks/pagination"
import { getCurrentUser, isAdmin } from '../utils/webApi/auth';
export default {

  setup(props, vm){
  let id = vm.root.$route.params.id;
  let forum = ref({});
  let posts = ref([]);
  let user = getCurrentUser();
  if(!user)
    user = {};
  let currentUser = reactive(user);
  let isUserLogged = ref(false);
  let isUserAdmin = ref(isAdmin());
  fetchForum(id).then(response =>{
    if(response.isSuccess){
       forum.value = response.data;
    }
  });
  var url = `${EndPoints.Posts}/forum`;
    const {
          additionalData,
          onChangePage,
          currentPage,
          totalPageNumber,
          paginateData,
          isLoading
          } = usePagination(posts,url);
    paginateData(currentPage.value,id);
  


  let token = localStorage.getItem("token");
    if (token) isUserLogged.value = true;
    const deletePostAction = (e)=>{
       let userInput = confirm("Are you sure, you want to delete this post?");
      if(userInput == true){
        let postID = e.target.name;
        deletePost(postID).then(res => {
           paginateData(1,id);
        });
      }
    }

  return{
    isUserLogged,
    posts,
    forum,
    additionalData,
    onChangePage,
    currentPage,
    totalPageNumber,
    paginateData,
    isLoading,
    deletePostAction,
    currentUser,
    isUserAdmin,
  }
  },
  components:{
    Navigation
  }
};
</script>

<style>
</style>