<template>
<div>
<Navigation/>
<div class="container body-content">
    <div class="row sectionHeader">
        <div class="sectionDescription">
            <p>Welcome to <strong>FTN Forums community</strong>. Posts are broadly categorized into separate forums by programming language or area of interest.</p>
            <p>
                Please read the Forum Guidelines before creating a new post.
            </p>
        </div>
    </div>
    <div class="row" id="forumIndexContent">
        <div class="loader" v-if="isLoading">Loading...</div>
        <table class="table table-hover" id="forumIndexTable" v-if="!isLoading">
            <tbody>
                    <tr v-for="forum in forums" v-bind:key="forum.id">
                        <td>
                            <img class="forumLogo" style="background-size:100%" :src="`data:image/jpeg;base64,${forum.image}`"/>
                            <div class="forumData">
                                <div class="forumTitle">
                                    <router-link :to="`/forum/${forum.id}`">{{forum.title}}</router-link>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="forumDescription">
                                {{forum.description}}
                            </div>
                        </td>
                        <td v-if="isUseAdmin">
                            <button @click="deleteForumAction" :name="forum.id"  class="btn btn-danger fas fa-trash-alt"></button>

                        </td>
                        <td v-if="isUseAdmin"> 
                            <button @click="openEditModal" :name="forum.id" data-target="#exampleModalCenter" class="btn btn-warning fas fa-edit"></button>
                        </td>
                    </tr>

            </tbody>
        </table>
    </div>
    <ul class="pagination pagination-extended">
        <li class="page-item"><a class="page-link" @click="onChangePage(currentPage-1)" href="#">Previous</a></li>
        <li v-for="(num,index) in Array(totalPageNumber)" v-bind:key="num" class="page-item" @click="onChangePage(index+1)" :class="currentPage == (index+1)?'active':''"><a class="page-link" href="#">{{index+1}}</a></li>
        <li class="page-item"><a class="page-link" @click="onChangePage(currentPage+1)" href="#">Next</a></li>
  </ul>
</div>
      <!-- Modal for edit forum -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Edit forum</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" v-if="selectedForum"> 
        <div class="form-group">
          <label>Name</label>
          <input class="form-control" v-model="selectedForum.title" />
        </div>
         <div class="form-group">
          <label>Description</label>
          <textarea class="form-control"  v-model="selectedForum.description" />
        </div>
      </div>
        <div class="alert alert-danger alert-dismissible fade show" role="alert" v-if="hasError">
                <strong>Error!</strong> {{errorMessage}}
            </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" @click="updateForEvent"  class="btn btn-success">Save changes</button>
      </div>
    </div>
  </div>
</div>
</div>
</template>

<script>
import {ref, reactive} from '@vue/composition-api';
import {fetchForums,deleteForum, fetchForum, updateForum} from '../utils/webApi/forum';
import Navigation from './Navigation'
import {EndPoints} from '../utils/webApi/EndPoints';
import usePagination from "../hooks/pagination"
import { isAdmin } from '../utils/webApi/auth';
import { searchPosts } from '../utils/webApi/post';
export default {
components:{
Navigation,
},

setup(){
    let forums = ref([]);
    const selectedForum = ref({});
     let hasError = ref(false);
    let errorMessage = ref('');
     const {
          additionalData,
          onChangePage,
          currentPage,
          totalPageNumber,
          paginateData,
          isLoading
          } = usePagination(forums,EndPoints.Forums);
         paginateData(currentPage.value);
const isUseAdmin = ref(isAdmin());
const deleteForumAction = (e)=>{
      let userInput = confirm("Are you sure, you want to delete this forum?");
      if(userInput == true){
        let forumId = e.target.name;
        deleteForum(forumId).then(res => {
           paginateData(currentPage.value);
        });
      }
    }

    const openEditModal =(e)=>{
        let editForumId = e.target.name;
        let forumForEdit = forums.value.find(x => x.id == editForumId);
        selectedForum.value = Object.assign({},forumForEdit);
        console.log(selectedForum.value);   
        $('#exampleModalCenter').modal('show');
        
    }

    const updateForEvent = ()=>{
        updateForum(selectedForum.value).then(res => {
            if(res.isSuccess){
            $("button[data-dismiss='modal']").click();
                paginateData(1);
            }else{
            hasError.value=true;
            errorMessage.value = res.message;
            setTimeout(()=>{
                errorMessage.value = '';
                hasError.value=false;
            },4000);
        }
        })
    }

    return {
        isLoading,
        forums,
        selectedForum,
        totalPageNumber,
        currentPage,
        additionalData,
        onChangePage,
        deleteForumAction,
        isUseAdmin,
        openEditModal,
        updateForEvent,
        hasError,
        errorMessage
        
    }
}

}
</script>

<style>

</style>