<template>
  <div>
    <Navigation />
    <div class="container body-content">
      <div class="row frontPageSplash">
        <div class="col-md-6 frontPageLearn">
          <div class="frontPageHeading">Learn, Collaborate, Share Knowledge</div>
          <p class="frontPageSubHeading">FTN Forums is the world's fastest growing coding forum.</p>
          <div>
            <form @submit="searchPosts($event)">
              <input type="text" class="homeSearch" v-model="searchTerm" placeholder="Search..." />
            </form>
          </div>
        </div>
        <div class="col-md-6"></div>
      </div>
      <div class="row frontPageContent row-extended">
        <h3 id="latestPosts">Latest Posts</h3>
        <div class="loader" v-if="isLoading">Loading...</div>
        <table class="table table-hover" id="latestPostsTable" v-if="!isLoading">
          <tbody>
            <tr v-for="post in posts" v-bind:key="post.id">
              <td>
                <div
                  class="forumLogo"
                  style="background-image: url(@post.ForumImageUrl); background-size:100%"
                ></div>
                <div class="postTitle">
                  <router-link :to="`/post/${post.id}`">{{post.title}}</router-link>
                </div>
                <div class="postSubTitle">
                  |
                  <span class="postUser">
                    <router-link :to="`/user/${post.user.id}`"
                    >{{post.user.username}}</router-link>
                  </span> in
                  <span class="postForum">
                    <router-link :to="`forum/${post.forum.id}`">{{post.forum.title}}</router-link>
                  </span> on
                  <span class="postDate">{{post.createdAt|formatDate}}</span>
                </div>
              </td>
              <td></td>
            </tr>
          </tbody>
        </table>
        <p v-if="hasError">{{errorMessage}}</p>
      </div>
    </div>
  </div>
</template>

<script>
import Navigation from "../components/Navigation";
import {getLatestPost} from '../utils/webApi/post';
import {ref} from '@vue/composition-api';
export default {
    components: {
    Navigation
  },
  setup(props,vm){
    let isLoading = ref(true);
    let posts = ref([]);
    var hasError = ref(false);
    var errorMessage = ref('');
    let searchTerm = ref('');
    getLatestPost().then(response =>{
      isLoading.value = false;
      if(response.isSuccess){
        posts.value = response.data;
      }else{
        hasError.value = true;
        errorMessage.value = response.message;
      }
    })

    const searchPosts = (e)=>{
      e.preventDefault();
      let searchQuery =`/search/${searchTerm.value}`;
      vm.root.$options.router.push(searchQuery);
    }

     return {
    isLoading,
    posts,
    searchPosts,
    searchTerm,
    hasError,
    errorMessage
  };
  }
 
};
</script>

<style>
</style>