<template>
  <div>
    <Navigation />
    <div class="container body-content">
      <div class="row sectionHeader">
        <div class="sectionHeading">Sign In</div>
        <div class="sectionDescription">
          <p>Sign in to your account to post in the forums.</p>
        </div>
      </div>
      <div class="row" id="signInContent">
        <div id="signInFormWrapper">
          <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
              <label>Username</label>
              <input type="text" @focus="shouldShowErrorMessage = false" v-model="loginData.username" class="form-control" />
              <span class="text-danger"></span>
            </div>
            <div class="form-group">
              <label asp-for="Password">Password</label>
              <input type="password" @focus="shouldShowErrorMessage = false" v-model="loginData.password" class="form-control" />
            </div>
            <div class="form-group">
              <button
                type="button"
                @click="loginSubmit()"
                style="border:1px solid;"
                class="btn btn-default"
              >Log in</button>
            </div>
            <div class="alert alert-danger alert-dismissible fade show" role="alert" v-if="hasError">
                <strong>Error!</strong> {{errorMessage}}
            </div>
            <div class="form-group">
              <p>
                <a href="#">Forgot your password?</a>
              </p>
              <p>
                <a href="/register">Register as a new user?</a>
              </p>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import {login} from '../utils/webApi/auth';
import Navigation from "./Navigation";
import {reactive, ref,} from '@vue/composition-api';
export default {
  components: {
    Navigation
  },

  setup(props,vm){
    let loginData = reactive({
      username:'',
      password:''
    });
    let hasError = ref(false);
    let errorMessage = ref("");
    const loginSubmit = ()=>{
      login(loginData).then(response =>{
        if(response.isSuccess == true){
            vm.root.$options.router.push("/") 
        }else{
            hasError.value=true;
            errorMessage.value = response.message;
            setTimeout(()=>{
                errorMessage.value = '';
                hasError.value=false;
            },4000);
        }
        
      });
    }

    return{
      loginData,
      loginSubmit,
      errorMessage,
      hasError
    }
  }
};
</script>

<style lang="sass" scoped>

</style>>