<template>
  <nav class="navbar navbar-fixed navbar-expand-lg navbar-dark bg-dark">
  <router-link class="navbar-brand" to="/">FTN Forum</router-link>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/forums">Forums</a>
      </li>
      <li class="nav-item" v-if="!token">
        <router-link class="nav-link" to="/login">Login</router-link>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/register" v-if="!token">Register</a>
      </li>
       <li class="nav-item" v-if="token">
         <router-link class="nav-link" :to="`/user/${loggedUser.id}`">My profile</router-link>
      </li>
        <li class="nav-item" v-if="token && loggedUser.role.name == 'Admin'">
         <router-link class="nav-link" :to="`/users`">Users</router-link>
      </li>
      <li class="nav-item" v-if="token && loggedUser.role.name == 'Admin'">
         <router-link class="nav-link" :to="`/createForum`">Create forum</router-link>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="" @click="logOut()" v-if="token">Log out</a>
      </li>
    </ul>
  </div>
</nav>
</template>

<script>
import { ref } from '@vue/composition-api';
import {getCurrentUser,isAuthenticated} from '../utils/webApi/auth'
export default {

  setup(props,vm){
   let token = ref();
   token.value = isAuthenticated();
    let loggedUser = ref();
    loggedUser.value = getCurrentUser();
    const logOut  = () =>{
      localStorage.clear();
      token.value=null;
      vm.root.$options.router.push("/")
    }

    return{
      logOut,
      loggedUser,
      token
    }
  }

}
</script>

<style>

</style>