<template>
  <div>
    <Navigation />
    <div class="container body-content">
      <div class="row postHeader">
        <div class="postHeading">
          <span class="postIndexTitle">{{post.title}}</span>
          <span id="headingBtn">
            <router-link
              :to="`/forum/${post.forum.id}`"
              class="btn btn-back"
            >Back to {{post.forum.title}}</router-link>
          </span>
        </div>
      </div>

      <div class="row" id="postIndexContent">
        <div class="col-md-3 postAuthorContainer">
          <div
            class="postAuthorImage"
            :style="`background-image: url(data:image/jpeg;base64,${post.user.image}); background-size: 100%;`"
          ></div>
          <a>
            <strong>{{post.user.username}}</strong>
          </a>
          <br />
          <span class="postDate">{{post.createdAt |formatDate}}</span>
        </div>
        <div class="col-md-9 postContentContainer" v-bind:key="post.content">
          <!-- <div class="postContent">{{post.content}}</div> -->
          <viewer  class="postContent" :initial-value="post.content"/>
          <div class="position:absolute;">
            <button v-if="currentUser != null && currentUser.id == post.user.id" style="float:right;" data-toggle="modal" data-target="#exampleModalCenter" class="btn btn-warning"><i class="fas fa-edit"></i></button>
          </div>
        </div>
      </div>

      <div v-if="isUserLogged" class="row" id="replyDivider"></div>
      <div class="row" id="replyRow">
        <span v-if="isUserLogged"> 
          <button class="btn btn-newReply"  @click="openCreateNewReply(true)">Post Reply</button>
        </span>
      </div>
    <div class="loader" v-if="isLoading">Loading...</div>
           <div  class="row replyContent"  v-if="isCreatingNewPost || editReplyMode">
                <div class="col-md-3 replyAuthorContainer">
                    <div class="postAuthorImage" :style="`background-image: url(data:image/jpeg;base64,${currentUser.image}); background-size: 100%;`"></div>
                    
                    <a>
                        <strong>Your reply</strong>
                    </a> <br />
                    <span class="postDate">{{isCreatingNewPost?newReply.createdAt:replyClone.createdAt |formatDate}}</span>
                </div>
                <div class="col-md-9 replyContentContainer">
                    <div class="postContent singleReplyContainer">
                      <editor ref="toastEditor" :options="editorOptions" initialEditType="wysiwyg" v-if="isCreatingNewPost"  class="postContent" v-model="newReply.content" />
                      <editor ref="toastEditor" :options="editorOptions" initialEditType="wysiwyg" v-if="editReplyMode"  class="postContent" :initial-value="replyClone.content" />
                      <!-- <textarea v-if="isCreatingNewPost" style="width:100%;height:100%" class="postContent" v-model="newReply.content" /> -->
                      <!-- <textarea v-if="editReplyMode" style="width:100%;height:100%" class="postContent" v-model="replyClone.content" /> -->
                      <div class="alert alert-danger alert-dismissible fade show" role="alert" v-if="hasError">
                        <strong>Error!</strong> {{errorMessage}}
                      </div>
                        <!-- {{newReply.content}} -->
                        <button @click="createNewReply()" class="btn btn-newReply">Submit reply</button>
                        <button @click="openCreateNewReply(false)" style="margin-left:5px;" class="btn btn-danger">Cancel</button>
                    </div>
                </div>
      </div>
      <div  class="row replyContent"  v-for="reply in replies" v-bind:key="reply.content">
                <div class="col-md-3 replyAuthorContainer">
                    <div class="postAuthorImage" :style="`background-image: url(data:image/jpeg;base64,${reply.user.image}); background-size: 100%;`"></div>
                    <a>
                        <strong>{{reply.user.username}}</strong>
                    </a> <br />
                    <span class="postDate">{{reply.createdAt|formatDate}}</span>
                </div>
                <div class="col-md-9 replyContentContainer">
                    <!-- <div class="postContent">
                        
                        {{reply.content}}
                    </div> -->
                  <viewer class="postContent" :initial-value="reply.content"/>
             <div style="position:absolute;bottom:5px"> 
                <button @click="likeReply" :name="reply.id" :disabled="currentUser == null || currentUser.id == reply.user.id" class="btn btn-primary fas fa-heart" ></button> 
              <span style="margin-left:5px;">{{reply.numberOfLikes}}</span>
             </div>
         <span class="replyActionButtons">
            <button @click="deleteReplyAction" :name="reply.id" v-if="isUserAdmin|| (currentUser != null && currentUser.id == reply.user.id)" class="btn btn-danger delete-reply fas fa-trash-alt"></button>
          <button @click="editReplyAction" :name="reply.id" v-if="currentUser.id == reply.user.id" style="margin-right:5px;" class="btn btn-warning delete-reply fas fa-edit"></button>
         </span>
        </div>

      </div>
      <div class="noPosts" v-if="!isLoading && replies.length  <= 0">
        <h3>
          There are no replies to this post.
          <br />
        </h3>
      </div>
          <!-- Modal for edit post -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Edit post</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" v-if="postClone">
        <div class="form-group">
          <label>Title</label>
          <input class="form-control"   v-model="postClone.title" />
        </div>
         <div class="form-group">
          <label>Content</label>
            <editor ref="toastEditor" :options="editorOptions" initialEditType="wysiwyg"   class="postContent" :initial-value="postClone.content" />
        </div>
        
      </div>
       <div class="alert alert-danger alert-dismissible fade show" role="alert" v-if="hasError">
                <strong>Error!</strong> {{errorMessage}}
            </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" @click="updatePostAction"  class="btn btn-success">Save changes</button>
      </div>
    </div>
  </div>
</div>
    </div>
  </div>
</template>

<script>
import Navigation from "../components/Navigation";
import {getRepliesByPost,addReply,deleteReply, editReply} from '../utils/webApi/reply';
import {getPostById, updatePost} from '../utils/webApi/post'
import {getCurrentUser,isAdmin} from '../utils/webApi/auth'
import {addLike} from '../utils/webApi/like'
import 'codemirror/lib/codemirror.css';
import '@toast-ui/editor/dist/toastui-editor.css';
import { Editor,Viewer } from '@toast-ui/vue-editor';


import { ref, reactive } from '@vue/composition-api';
export default {
  setup(props, vm){
    let id = vm.root.$route.params.id;
    let isLoading = ref(true);
    let isCreatingNewPost = ref(false);
    let post = ref({});
    let user = getCurrentUser();
    if(!user)
      user = {}
    let currentUser = reactive(user);
    let isUserAdmin = ref(isAdmin());
    let postClone = ref({});
    let replyClone = ref({})
    let hasError = ref(false);
    let errorMessage = ref('');
    let editorOptions = reactive({
      hideModeSwitch: true,
    });
    
    var newReply = reactive({
      content :'',
      createdAt: new Date(),
      postId:0
    });
    let editReplyMode = ref(false);
    let replies = ref([]);
    let isUserLogged = ref(false);
    getPostById(id).then(response =>{
      if(response.isSuccess){
        post.value = response.data;
        postClone.value = Object.assign({},response.data);
      }
    });
    getRepliesByPost(id).then(response =>{
      isLoading.value = false;
      if(response.isSuccess){
        replies.value = response.data;
      }
    });
    const openCreateNewReply = (value) =>{
      isCreatingNewPost.value = value;
      if(value == false)
        editReplyMode.value = value;
    }

    const editReplyAction = (e)=>{
      let replyID = e.target.name;
      let tempReply = replies.value.find(x => x.id == replyID);
      replyClone.value = Object.assign({},tempReply);
      editReplyMode.value = true;

    }
    const createNewReply = () =>{
      if(editReplyMode.value == false){
      newReply.postId = post.value.id;
      var html = vm.refs.toastEditor.invoke('getHtml');
      newReply.content = html;
      addReply(newReply).then(response => {
       if(response.isSuccess){
        replies.value.push(response.data)
        isCreatingNewPost.value = false;
        newReply.content = '';
        newReply.postId = 0;
        newReply.createdAt = new Date();

       }else{
            hasError.value=true;
            errorMessage.value = response.message;
            setTimeout(()=>{
                errorMessage.value = '';
                hasError.value=false;
            },4000);
          }
      })
      }else{
        var html = vm.refs.toastEditor.invoke('getHtml');
        replyClone.value.content = html;
        editReply(replyClone.value).then(res => {
          if(res.isSuccess == true){
            editReplyMode.value = false;
            let oldReply = replies.value.find( x => x.id == res.data.id);
            let replyIndex = replies.value.indexOf(oldReply);
            replies.value[replyIndex] = res.data;
          }else{
            hasError.value=true;
            errorMessage.value = res.message;
            setTimeout(()=>{
                errorMessage.value = '';
                hasError.value=false;
            },4000);
          }
        });
      }
      
    }
    var token = localStorage.getItem("token");
    if (token) isUserLogged.value = true;
    const deleteReplyAction = (e)=>{
      let userInput = confirm("Are you sure, you want to delete this reply?");
      if(userInput == true){
        let replyID = e.target.name;
        deleteReply(replyID).then(res => {
           replies.value = replies.value.filter(x => x.id != replyID);
        });
      }
    }

    const updatePostAction = ()=>{
      var html = vm.refs.toastEditor.invoke('getHtml');
      postClone.value.content = html;
      updatePost(postClone.value).then(res => {
          if(res.isSuccess == true){
            post.value = res.data;
            postClone.value = Object.assign({},res.data);
            $("button[data-dismiss='modal']").click();

          }else{
            hasError.value=true;
            errorMessage.value = res.message;
            setTimeout(()=>{
                errorMessage.value = '';
                hasError.value=false;
            },4000);
        }
      });
      
    }

    const likeReply = (e)=>{
      var replyID = e.target.name;
      let likeObject ={
        replyId:0,
        isLike:true
      };
      var replyObject = replies.value.find(x => x.id == replyID);
      likeObject.replyId = replyObject.id;
      addLike(likeObject).then(res =>{
        let replyObj = replies.value.find(x =>  x.id == replyID);
        replyObj.numberOfLikes++;
      })
    }

    
    return{
      isLoading,
      isUserLogged,
      post,
      replies,
      isCreatingNewPost,
      newReply,
      openCreateNewReply,
      createNewReply,
      currentUser,
      isUserAdmin,
      deleteReplyAction,
      postClone,
      updatePostAction,
      editReplyAction,
      editReplyMode,
      replyClone,
      likeReply,
      hasError,
      errorMessage,
      editorOptions,
    }
  },
  components: {
    Navigation,
    editor:Editor,
    viewer:Viewer
  },
};
</script>

<style>
</style>