<template>
<div>
    <Navigation/>
  <div class="container body-content">
    <div class="row sectionHeader">
        <div class="sectionHeading">
            Register
        </div>
        <div class="sectionDescription">
            <p>Create an account to post in the forums.</p>
        </div>
    </div>
    <div class="row" id="registerContent">
        <div id="registerFormWrapper">
            <form  method="post" id="registerForm">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label>Name</label>
                    <input class="form-control" v-model="newUser.name"/>
                </div>
                <div class="form-group">
                    <label>Surname</label>
                    <input class="form-control" v-model="newUser.surname"/>
                </div>
                <div class="form-group">
                    <label>Email</label>
                    <input class="form-control" v-model="newUser.email"/>
                </div>
                <div class="form-group">
                    <label>Username</label>
                    <input  class="form-control" v-model="newUser.username"/>
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input type="password" class="form-control" v-model="newUser.password"/>
                </div>
                <div class="form-group">
                    <label>Confirm Password</label>
                    <input type="password" v-bind:class="{'errorBorder':passwordError}" class="form-control" v-model="confirmedPassword"/>
                    <span v-if="passwordError" class="text-danger">Passwords doesn't match</span>
                    <span v-if="isSuccess" class="text-success">Registered successifully.You can log in now on tis <a href="/login">link</a></span>
                </div>
                <div class="alert alert-danger alert-dismissible fade show" role="alert" v-if="hasError">
                <strong>Error!</strong> {{errorMessage}}
            </div>
                <button type="button" @click="submitRegister()" id="registerBtn" class="btn btn-lg btn-success">Register</button>
            </form>
        </div>
    </div>
</div>
</div>
</template>

<script>
import Navigation from './Navigation';
import {register} from '../utils/webApi/user';
import { reactive, ref, watch } from '@vue/composition-api';
export default {
components:{
Navigation
},
setup(){
    let newUser = reactive({
            name:'',
            surname:'',
            email:'',
            username:'',
            password:''
        });
    let confirmedPassword = ref('');
    let passwordError = ref(false);
    let isSuccess = ref(false);
    let hasError = ref(false);
    let errorMessage = ref('');
    watch(confirmedPassword,(newValue, oldValue) =>{
        if(newValue != newUser.password){
            passwordError.value = true;
        }else{
            passwordError.value = false;
        }
    });
    const submitRegister = () =>{
      register(newUser).then(response =>{
          if(response.isSuccess == true){
              isSuccess.value = true;
          }else{
            hasError.value=true;
            errorMessage.value = response.message;
            setTimeout(()=>{
                errorMessage.value = '';
                hasError.value=false;
            },4000);
          }
      })
    }

    return{
        newUser,
        passwordError,
        isSuccess,
        confirmedPassword,
        confirmedPassword,
        submitRegister,
        hasError,
        errorMessage
    }
}
}
</script>

<style>
.errorBorder{
    border: 1px solid red;
}
</style>