<template>
<div>
     <Navigation />  
  <div class="container body-content">
     
    <div class="row sectionHeader">
        <div class="sectionHeading">
            <span id="results">Results for: {{searchTerm}}</span>
            <form @submit="filterPosts($event)">
                <div class="searchForm">
                    <input  type="text" placeholder="Search..." class="searchBar" v-model="newSearchTerm">
                    <button type="submit" class="btn buttonSearch">
                        <i class="material-icons">search</i>
                    </button>
                </div>
            </form>
        </div>
    </div>
     <div class="loader" v-if="isLoading">Loading...</div>
    <div class="row" id="forumIndexContent">
            <table class="table table-hover table-bordered" id="forumIndexTable"  v-if="!isLoading && filteredPosts.length >0">
                <tbody>
                         <tr v-for="post in filteredPosts" v-bind:key="post.id">
                            <td>
                                <div class="forumLogo" style="background-image: url(@post.Forum.ImageUrl); background-size:100%"></div>
                                <div class="postData">
                                    <div class="postTitle">
                                        <router-link :to="`/post/${post.id}`">{{post.title}}</router-link>
                                    </div>
                                    <div class="forumSubTitle">
                                        <div>
                                                by:
                                            <span class="postAuthor">
                                                <router-link :to="`/user/${post.user.id}`">
                                                    {{post.user.username}}
                                                </router-link>
                                               
                                            </span>
                                                in:
                                            <span class="postForum">
                                                <router-link :to="`/forum/${post.forum.id}`">{{post.forum.title}}</router-link>
                                            </span>
                                                on:
                                            <span class="postDate">
                                                {{post.createdAt | formatDate}}
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="forumPostCount">
                                   Replies: {{post.repliesCount}}
                                </div>
                            </td>
                            <!-- <td>
                                <div class="postDate">@post.DatePosted</div>
                            </td> -->
                        </tr>
                    
                </tbody>
            </table>
            <div class="noPosts" v-if="!isLoading && !filteredPosts.length >0">
                <i class="material-icons md-72">question_answer</i>
                <h3>
                    No search results found for {{searchTerm}}! <br />
                </h3>
            </div>
    </div>
  <ul class="pagination pagination-extended">
    <li class="page-item"><a class="page-link" @click="onChangePage(currentPage-1)" href="#">Previous</a></li>
    <li v-for="(num,index) in Array(totalPageNumber)" v-bind:key="num" class="page-item" @click="onChangePage(index+1)" :class="currentPage == (index+1)?'active':''"><a class="page-link" href="#">{{index+1}}</a></li>
    <li class="page-item"><a class="page-link" @click="onChangePage(currentPage+1)" href="#">Next</a></li>
  </ul>
</div>

</div>
</template>

<script>
import Navigation from './Navigation';
import {ref} from '@vue/composition-api';
import {searchPosts,getAllPosts} from '../utils/webApi/post';
import {createRequest} from '../utils/webApi/requetHelper';
import {EndPoints} from '../utils/webApi/EndPoints';
import usePagination from "../hooks/pagination"
export default {
components:{
Navigation,
},
setup(props,vm){
 let query = vm.root.$route.params.query;
 let searchTerm = ref(query);
 let filteredPosts = ref([]);
 let newSearchTerm = ref('');
 let endPoint = `${EndPoints.Posts}/search`;
     const {
          additionalData,
          onChangePage,
          currentPage,
          totalPageNumber,
          paginateData,
          isLoading
          } = usePagination(filteredPosts,endPoint);

paginateData(currentPage.value,query);
const filterPosts = (e)=>{
  e.preventDefault();
  searchTerm.value = newSearchTerm.value;
  if(newSearchTerm.value == ''){
      paginateData(currentPage.value,query);
  }else{
    paginateData(currentPage.value,newSearchTerm.value);
    query = newSearchTerm.value;
  }
  
}

 return{
     filteredPosts,
     searchTerm,
     isLoading,
     newSearchTerm,
     filterPosts,
    additionalData,
    currentPage,
    totalPageNumber,
    onChangePage
 };
}
}
</script>

<style>

</style>