<template>
<div>
<Navigation/>
  <div class="container body-content">
    <div class="row sectionHeader">
      <div class="sectionHeading">Browse Users</div>
    </div>
    <div class="row" id="forumIndexContent">
      <div class="loader" v-if="isLoading">Loading...</div>
      <table class="table table-hover" id="forumIndexTable" v-if="!isLoading">
        <thead>
          <tr>
            <th>Profile Pic</th>
            <th>Name</th>
            <th>Surname</th>
            <th>Username</th>
            <th>Status</th>
            <th>Member Since</th>
            <th>E-mail</th>
          </tr>
        </thead>
        <tbody>
          <tr class="userRow" v-for="user in users" v-bind:key="user.id">
            <td>
              <div
                class="userProfilePic"
                :style="`background-image: url(data:image/jpeg;base64,${user.image}); background-size:100%`"
              ></div>
            </td>
            <td>{{user.name}}</td>
            <td>{{user.surname}}</td>
            <td>
              <router-link :to="`/user/${user.id}`"
              >{{user.username}}</router-link>
            </td>
            <td>
              <span v-if="user.isActive">Active</span>
              <span v-if="!user.isActive" class="inactiveUser">Inactive</span>
            </td>
            <td>{{user.createdAt|formatDate}}</td>
            <td>{{user.email}}</td>
            <td>
              <button v-if="user.isActive && loggedUser.id != user.id" :name="user.id" @click="changeUserStatus" class="btn btn-danger">Deactivate user</button>
              <button v-if="!user.isActive && loggedUser.id != user.id" :name="user.id" @click="changeUserStatus" class="btn btn-success">Activate user</button>
            </td>
            <td>
              <button :name="user.id" @click="promoteUserEvent" v-if="user.role.name != 'Admin' && loggedUser.id != user.id" class="btn btn-primary">Promote to admin</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <ul class="pagination pagination-extended">
    <li class="page-item"><a class="page-link" @click="onChangePage(currentPage-1)" href="#">Previous</a></li>
    <li v-for="(num,index) in Array(totalPageNumber)" v-bind:key="num" class="page-item" @click="onChangePage(index+1)" :class="currentPage == (index+1)?'active':''"><a class="page-link" href="#">{{index+1}}</a></li>
    <li class="page-item"><a class="page-link" @click="onChangePage(currentPage+1)" href="#">Next</a></li>
  </ul>
  </div>
  </div>
</template>

<script>
import Navigation from "../components/Navigation";
import { getUsers, updateUser, promoteUser } from "../utils/webApi/user";
import { ref,createComponent} from '@vue/composition-api';
import {getCurrentUser,isAuthenticated} from '../utils/webApi/auth';
import {createRequest} from '../utils/webApi/requetHelper';
import {EndPoints} from '../utils/webApi/EndPoints';
import usePagination from "../hooks/pagination"
export default {
  setup(props,ctx){
    let users = ref([]);
    let loggedUser = getCurrentUser();
    const {
          additionalData,
          onChangePage,
          currentPage,
          totalPageNumber,
          paginateData,
          isLoading
          } = usePagination(users,EndPoints.Users);
    paginateData(currentPage.value);

    const changeUserStatus = (e)=>{
        let userId = e.target.name;
        let user = users.value.find(x => x.id == userId);
        user.isActive = !user.isActive;
        updateUser(user,user.id).then(res =>{
          if(res.isSuccess){
            paginateData(1);
          }
        });
    }

    const promoteUserEvent = (e) =>{
        let userId = e.target.name;
        let user = users.value.find(x => x.id == userId);
        promoteUser(user,user.id).then(res =>{
           if(res.isSuccess){
            paginateData(1);
          }
        });
    }
    return {
      isLoading,
      loggedUser,
      users,
      totalPageNumber,
      currentPage,
      additionalData,
      onChangePage,
      changeUserStatus,
      promoteUserEvent,
    }
  },
  components: {
    Navigation
  },
};
</script>

<style>
</style>