<template>
  <div>
    <Navigation />
    <div class="container body-content">
      <div class="row sectionHeader">
        <div class="sectionHeading noBorder">User Profile</div>
      </div>
      <div class="row userProfile">
        <div class="col-md-4">
          <img
            id="userProfileImage"
            :src="`data:image/jpeg;base64,${user.image}`"
          />
        </div>
        <div class="col-md-8">
          <button v-if="loggedUser!= null && user.id == loggedUser.id"
            class="btn btn-primary" style="float:right;margin-left:5px" data-toggle="modal" data-target="#changePasswordModal"><i class="fas fa-unlock-alt"></i></button>
          <button v-if="loggedUser!= null && user.id == loggedUser.id"
            class="btn btn-warning" style="float:right" data-toggle="modal" data-target="#exampleModalCenter"><i class="fas fa-edit"></i></button>
          <span id="userName">{{user.username}}</span>
          <span v-if="user.role.name == 'Admin'" class="isAdmin">Admin</span>

          <span id="userRating">Name and surname: {{user.name}} {{user.surname}}</span>
          <span id="userEmailLabel">Email: {{user.email}}</span>
          <span id="userCreatedLabel">Member Since: {{user.createdAt|formatDate}}</span>
          <span id="userActiveLabel">
            Status:
            <span v-if="!user.isActive" class="inactiveUser">Inactive</span>
            <span v-if="user.isActive">Active</span>
          </span>
        </div>
      </div>
      <!-- Modal for profile -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Edit profile</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label>Username</label>
          <input class="form-control" disabled  v-model="user.username" />
        </div>
         <div class="form-group">
          <label>Name</label>
          <input class="form-control"   v-model="user.name" />
        </div>
         <div class="form-group">
          <label>Surname</label>
          <input class="form-control"   v-model="user.surname" />
        </div>
         <div class="form-group">
          <label>Email</label>
          <input class="form-control"   v-model="user.email" />
        </div>
        <div class="form-group">
          <label style="display:block;">Image: </label>
          <input @change="fileInputChange" type="file" />
        </div>
      </div>
           <div class="alert alert-danger alert-dismissible fade show" role="alert" v-if="hasError">
                <strong>Error!</strong> {{errorMessage}}
            </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" @click="editUserProfile" class="btn btn-success">Save changes</button>
      </div>
    </div>
  </div>
</div>

<!--Change password modal-->
<div class="modal fade" id="changePasswordModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Change Password</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label>Current password</label>
          <input class="form-control" type="password"  v-model="changePasswordObject.currentPassword" />
        </div>
         <div class="form-group">
          <label>New password</label>
          <input class="form-control" type="password"  v-model="changePasswordObject.newPassword" />
        </div>
         <div class="form-group">
          <label>Confirm new password</label>
          <input class="form-control"  type="password"  v-model="changePasswordObject.confirmPassword" />
        </div>
      </div>
       <div class="alert alert-danger alert-dismissible fade show" role="alert" v-if="hasError">
                <strong>Error!</strong> {{errorMessage}}
            </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" @click="changePasswordAction" class="btn btn-success">Save changes</button>
      </div>
    </div>
  </div>
</div>
    </div>
  </div>
</template>

<script>
import Navigation from "../components/Navigation";
import { getUserById,updateUser} from "../utils/webApi/user";
import { ref } from '@vue/composition-api';
import {getCurrentUser,isAuthenticated, changePassword} from '../utils/webApi/auth'
import {uploadFile} from '../utils/webApi/util';

export default {
  setup(props, vm){
    let id = vm.root.$route.params.id;
    let user = ref({
      role:{}
    });
    
    let file = ref();
    let loggedUser =  getCurrentUser();
    if(!loggedUser)
      loggedUser = {}
    const changePasswordObject = ref({
      currentPassword:'',
      newPassword:'',
      confirmPassword:'',
      user:loggedUser
    });
    let hasError = ref(false);
    let errorMessage = ref('');
    getUserById(id).then(response =>{
      if(response.isSuccess){
        user.value = response.data;
      }
    });


    const editUserProfile = (e) =>{
      e.preventDefault();
    uploadFile(file.value).then(res =>{
        if(res.data != null)
            user.value.imageUrl = res.data;
          updateUser(user.value,user.value.id).then(response =>{
            if(response.isSuccess == true)
            {
              user.value = response.data;
              $("button[data-dismiss='modal']").click();
            }else{
            hasError.value=true;
            errorMessage.value = response.message;
            setTimeout(()=>{
                errorMessage.value = '';
                hasError.value=false;
            },4000);
          }
          })
      });
    }

     const fileInputChange = (event)=>{
     file.value = event.target.files[0];
 }

      const changePasswordAction =(e)=>{
        changePassword(changePasswordObject.value).then(res =>{
            if(res.isSuccess == true){
               $("button[data-dismiss='modal']").click();
            }else{
            hasError.value=true;
            errorMessage.value = res.message;
            setTimeout(()=>{
                errorMessage.value = '';
                hasError.value=false;
            },4000);
          }
        });
      }
    return{
      user,
      loggedUser,
      fileInputChange,
      editUserProfile,
      changePasswordObject,
      changePasswordAction,
      hasError,
      errorMessage
    }
  },
  components: {
    Navigation
  }
};
</script>

<style>
</style>