<template>
<div>
        <router-view/>
  <notifications group="foo" />
</div>
</template>

<script>
import Home from './components/Home';

export default {
  name: 'App',

  components: {
    Home,
  },
  created(){
    this.$notificationHub.$on('reply-added',function(data){
       this.$notify({
      group: 'foo',
      title: 'Information',
      text: data,
      duration:5000
    });
    });
    this.$notificationHub.$on('reply-changed',function(data){
       this.$notify({
      group: 'foo',
      title: 'Information',
      text: data,
      duration:5000
    });
    });
  },

  data: () => ({
  
  }),
};
</script>
